@charset "UTF-8";
/*==========RESET==========*/
* {
    margin: 0;                          
    padding: 0;                        
    font-size: 100%;
    border:none;
    outline: none;
    font-weight: 500;
    box-sizing: border-box;
    font-family: 'Courgette', cursive;
}

a {
    text-decoration: none;
    color:#D2AE6D;
    padding:0px 8px;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

p {
    font-family: 'Lato', sans-serif;
}

/*=======FIM RESET=======*/


/*==========INTERFACE==========*/

body{
    background: linear-gradient(to top, #412c0f, #FADCAD);
    position: relative;
    width: 92%;
    left:4%;
    background-image: url(img/bg.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: #000;
}

div#interface {
    background-color: #fff;
    padding: 0px;
    box-shadow: 2px 2px 10px #000;
}

.text {
    box-shadow: 2px 2px 5px #412c0f;
    padding:2px 6px;
    background: rgba(255, 255, 255, 40%);
    font-weight: bold;}


/*==========| FIM_SECTION |==========*/

h3 {
    font-size: 150%;
    text-align: right;
    text-decoration: underline;
}

/*==========MENU==========*/
.navegacao{
height:45px;
position: fixed;
width: 92%;
left:4%;
margin: 0px 0px 20px 0px;


background: linear-gradient(to top, rgb(46, 9, 8), #7a3920);
 
}

#menu {
    
    padding:13px 20px;
    margin-left:15px;
}
/*========FIM-MENU========*/

.linkd {
   color:#000;
}
 /*Link das migalhas*/

/*Definir mesma altura e largura para os elementos*/

.migalhas {display:none;}
.migalhas_e {position: relative; font-size:100%; top: 2px; font-weight: 900; background: rgba(255, 255, 255, 0.4); }
.migalhas_l {position: relative; font-size:100%; top: 2px; font-weight: 900; background: rgba(255, 255, 255, 0.4); }
.migalhas_d {position: relative; font-size:100%; top: 2px; font-weight: 900; background: rgba(255, 255, 255, 0.4); }
.migalhas_s {position: relative; font-size:100%; top: 2px; font-weight: 900; background: rgba(255, 255, 255, 0.4); }

/*========FIM_MENU========*/


/*==========| SECTION |==========*/

.sessaoindex {
    padding: 60px 30px;
    background: url(img/bgsessao2.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: #F1ebce;
    color:#7E2E2F;}

.titulosessao {
    font-size: 30px
}

p {
    text-align: justify;
    font-size: 17px;
} /*16px tamanho padrão*/

/*INICIO DO FOOTER*/

.rodape {
    background-color: #000;
    text-align: center;
    padding: 20px;
}

#footer {
    font-family: 'Lato', sans-serif;
    color: #fff;
    
}

/*FINAL DO FOOTER*/

/*=====================================================================*/

/*INICIO DA AREA DE TEXTO*/
#txtarea {
    width: 100%;
}
#autor {
    width: 320px;
}
#titulo{
    width: 315px;
}
#inspi{
    width: 285px;
}
/*FINAL AREA DE TEXTO*/
/*=====================================================================*/

/*=======FIM_CONFIG_INTERFACE=======*/

/*==| CATEGORIAS |==*/
/*==| EPICO |==*/
.sessaoepico {
    padding: 30px;
    background: url(img/bgepico.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: #F1ebce;
    color:#7E2E2F;
}

.sessaoepico .text {
    background: rgba(255, 255, 255, 90%);
}

/*==| Dramatico |==*/
.sessaodrama{
    padding: 30px;
    background: url(img/bgdrama.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: #F1ebce;
    color:#7E2E2F;
}

.sessaodrama .text {
    background: rgba(255, 255, 255, 90%);
}

/*==| Lirico |==*/

.sessaolirico {
    padding: 30px;
    background: url(img/bglirico.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: #F1ebce;
    color:#7E2E2F;
}

.sessaolirico .text {
    background: rgba(255, 255, 255, 90%);
}

/*==| Soneto |==*/

.sessaosoneto {
    padding: 30px;
    background: url(img/bgsoneto.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: #F1ebce;
    color:#7E2E2F;}

.sessaosoneto .text {
    background: rgba(255, 255, 255, 90%);
}

/*==| FIM_CATEGORIA |==*/




